<h1>Listing articles</h1>
<table class="table">
 <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.text %></td>
    </tr>
    </table>

<table class="table">
  
     
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= render @article.comments %>
    
   
 
      <%= link_to 'Back', articles_path %>
      
</table>